<!-- header include -->
<%- include('include/_header')%>
<!-- /header include -->

<!-- Main Section -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"
          ><i class="fa-solid fa-circle-arrow-left"></i>All Candidates</a
        >
      </div>
    </div>

    <div class="form-title text-center">
      <h2 class="text-dark">New Candidate Account</h2>
      <span class="text-light">Use the Form for New Candidate Account</span>
    </div>
    <!-- add user Form ejs Syntax -->
    <%- include('include/_form')%>
  </div>
</main>
<!--/ Main Section -->

<!-- footer include -->
<%- include('include/_footer')%>
<!-- /footer include -->
